{% extends 'replica/admin/base.html' %}

{% block page %}create dashboard{% endblock %}

{% block content %}
<div class="row">
<form method="POST" action="" id="create-entry">

	<div class="span12">
		<section id="create-title">
		{{form.title}}
		</section>
	</div>

	<div class="span8">
	<section id="create">	
		<div id="CreateTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="entry">
				<fieldset class="content">								
					
					<h4>Summary</h4>
					{{form.summary.errors}}
					{{form.summary}}
					
					<h4>Body</h4>
					{{form.body.errors}}
					{{form.body}}
					
					{% if adding %}
					<div class="controls">
					    <input type="submit" class="btn" value="Save">
					    <span class="help-inline">Remember, the post isnt made public until it's status is switched to published.</span>
					</div>
						 
					{% else %}
					<a class="btn btn-danger pull-right" href="{% url 'replica-delete' entry.id %}">Delete</a>
					 <input type="submit" class="btn" value="Edit">
					{% endif %}
				</fieldset>	
			</div>				
		</div>
	</section>
	</div><!-- span8 -->

	<div class="span4">
		<section>
		<fieldset class="settings">
			<h2>Settings</h2>
						
			<ul class="unstyled">
				<li><div class="input-prepend"><span class="add-on">url</span>{{form.url}}</div></li>
				<li>{{form.post_type}} <span class="help-inline">Post Type</span></li>
				<li>{{form.image}} <span class="help-inline">Optional Image</span></li>
				<li>{{form.content_format}} <span class="help-inline">Markup</span></li>
				<li>
				<h4>Status</h4>
				{% for radio in form.is_active %}
				<label class="radio inline">{{ radio }}</label>
				{% endfor %}
				
				</li>
			</ul>
		</fieldset>
		
		<p>You can also drag this handy {% include "replica/admin/includes/_bookmarklet.html" %} up to your toolbar.</p>
		
	</section>
	</div><!-- span4 -->

{% csrf_token %}
</form>
</div><!-- row -->

{% endblock %}