{% extends 'replica/admin/base.html' %}
{% load replicant %}

{% block page %}drafts dashboard{% endblock %}

{% block content %}
<div class="row">
	
	<div class="span6">
		<div class="row">
		
		{% if messages %}
			<div class="span6">
			{% for message in messages %}
			<div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
			{% endfor %}
			</div>
		{% endif %}
				
		<div class="span6">
		<section id="ideas" class="entries green">		
			<h2>{{ entry.title|safe }}</h2>
				
			<ul class="unstyled">
				<li>Last updated: {{ entry.pub_date }}</li>
				<li>Author: {{ entry.author }}</li>
				<li>Status: {{ entry.is_active }}</li>
				<li>Word Count: {{ entry.body_html|wordcount }}</li>
			</ul>
			
			<div class="entry">
			{{ entry.body_html|safe|truncatewords_html:75 }}
			</div>
			
		</section>
		</div><!-- span6 -->
		
		</div><!-- row -->
	</div><!-- span6 -->
	
	<div class="span6">
		<div class="row">
			<div class="span6">	
			<section id="published" class="entries teal">				
				<h2>History</h2>
				<ul class="unstyled">
				{% for draft in drafts %}
					<li>
						<a href="{% url 'replica-draft-view' entry.id draft.id %}">{{ draft.last_edit|date:"F jS, Y" }} ({{ draft.last_edit|timesince }} ago)</a>
						<span>By {{ draft.author }}</span>
					</li>
				{% empty %}
					<li>No previous versions yet.</li>
				{% endfor %}
				</ul>
			</section>
			</div><!-- span6 -->
	
		</div><!-- row -->
	</div><!-- span6 -->
</div><!-- row -->

{% endblock %}
