<!DOCTYPE html> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js home"> <!--<![endif]--> 
 
<head> 
<title>Nano | Replica</title> 
<link rel="profile" href="http://gmpg.org/xfn/11" /> 
<link rel="canonical" href="http://underlost.net/" /> 
<link rel="shortcut icon" href="/static/replica/img/favicon.ico"/> 
<link rel="apple-touch-icon" href="/static/replica/img/iphone_underlost.png"/>
 
<!-- Meta --> 
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="author" content="Tyler Rilling" />
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<meta name="description" content="Replica Admin" /> 
 
<!-- Stylesheets -->	
<link rel="stylesheet" href="/static/replica/css/global.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/replica/css/responsive.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/replica/css/admin.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->   
</head> 
 
<body class="nano">

	<div id="wrap">
	<section id="create">
		<form method="POST" action="" id="create-entry" class="wide">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#entry" data-toggle="tab">{% if adding %}New{% else %}Edit{% endif %} Entry</a></li>
			<li><a href="#settings" data-toggle="tab">Settings</a></li>
		</ul>
	
		<div id="CreateTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="entry">
				<fieldset class="content">				
					{{form.title}}
					
					<div class="input-prepend"><span class="add-on">url</span>{{form.url}}</div>
					
					{{form.body.errors}}
					{{form.body}}
					
					{% if adding %}
					 <input type="submit" class="btn" value="Create Post">
					{% else %}
					 <input type="submit" class="btn" value="Edit">
					{% endif %}
					
				</fieldset>	
			</div>
			
			<div class="tab-pane fade" id="settings">
				<fieldset class="settings">
					<h2>Settings</h2>
					<ul class="unstyled">
						<li></li>
						<li>{{form.post_type}} <span class="help-inline">Post Type</span></li>
						<li>{{form.content_format}} <span class="help-inline">Markup</span></li>
						<li>
						<h4>Status</h4>
						<label class="radio inline"><label><input checked="checked" name="is_active" type="radio" value="True" /> Published</label></label>
						<label class="radio inline"><label><input name="is_active" type="radio" value="False" /> Draft</label></label>
						
						</li>
					</ul>
				</fieldset>
			</div>
		
		</div>
		{% csrf_token %}
		</form>
		
		<p>You can also drag this handy {% include "replica/includes/_bookmarklet_nano.html" %} up to your toolbar.</p>
	</section>
	</div>	
	
<!-- Javascript --> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/static/replica/js/bootstrap.min.js" type="text/javascript"></script>
</body> 
</html>