/* @override 
	http://underlost.net/static/vendor/replica/css/admin.css
	http://underlost.net/static/replica/css/admin.css
	http://alifewellplayed.herokuapp.com/static/replica/css/admin.css
	http://alifewellplayed.com/static/replica/css/admin.css
*/

body {
	position: relative;
}

body.dashboard {
	margin-top: 65px;
}

.red { color: #ec663c;}
.green { color: #96bf48;}
.orange {color: #ff9618;}
.blue {color: #12b0c5;}
.purple {color: #9c4274;}

section.red {
	color: #f8c8b9;
	background: #ec663c;
	padding: 10px 20px;
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
}

section.purple {
	color: #e1c6d5;
	background: #9c4274;
	padding: 10px 20px;
}

section.purple a {
	color: #e1c6d5;
}

section.blue {
	color: #b8e7ee;
	background: #12b0c5;
	padding: 10px 20px;	
}

section.blue a {
	color: #b8e7ee;
}

section.orange {
	color: #ffdaad;
	background: #ff9618;
	padding: 10px 20px;	
}

section.teal {
	color: #c8ebe8;
	background: #47bbb3;
	padding: 10px 20px;	
}

section.teal a {
	color: #c8ebe8;
}

section.green {
	color: #e0ecc8;
	background: #96bf48;
	padding: 10px 20px;		
}

nav.site-nav {
	position: fixed;
	top: 25px;
	left: 25px;
	width: 32px;
}

.navbar-brand{
	margin-top: 10px;
	height: 24px;
	width: 24px;
	text-indent: -9999px;
	background: url(/static/replica/img/replica_logo_alt.png) center center no-repeat;
	background-size: 24px 24px;
}

body.main section,
body.dashboard section,
body.nano section.NanoSection {
	background: #FFF;
	color: #8f8f8f;
	border: 1px solid #e0e2d7;
	margin-bottom: 12px;
	padding: 10px 20px;
	box-shadow: rgba(0,0,0,0.05) 0 1px 5px;
	height: auto;
}

section#today,
section#new-idea {
	display: block;
	min-height: 295px;
}

section > h4 {
	color: #aaa;
	font-size: 12px;
	margin: 5px -20px 10px;
	padding: 0 20px 10px;
	border-bottom: 1px solid #f0f0ed;
	font-weight: bold;
}



h4.media-heading {
	color: #333;
	font-size: 12px;
	margin: 5px 0 5px 0;
	padding: 0;
	border-bottom-width: 0;
	font-weight: bold;
}

section#today canvas {
	margin: auto;
}

section#today p {
	text-align: center;
}

canvas#posts-by-day {
	display: block;
	width: 2200px;
}

span.day-week {
	display: block;
	padding: 5px;
	font-size: 22px;
	line-height: 36px;
	letter-spacing: 1px;
}

body.main section#greeting {
	padding: 0;
}

body.main section#greeting ul {
	margin: 0;
}

body.main section#greeting ul li {
	border-right: 1px solid #e0e2d7;
	padding: 10px 25px 10px 15px;
}

body.main section#greeting ul li.visible-desktop {
	float: left;
}

body.main section#greeting ul li:last-child {
	border-width: 0px;
}

section.stats ul li span {
	font-size: 150%;
	font-weight: 600;
}

section h2,
form#create-entry h2 {
	font-weight: 200;
}

section ul.list-unstyled li {
	padding: 8px 2px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

section ul.list-unstyled li:last-child{
	border-bottom-width: 0px;
	padding-bottom: 0;
}

section ul.list-unstyled li:hover {
	background: rgba(0, 0, 0, .02);
}

section#published ul.list-unstyled li .pull-right {
	margin-right: 10px;
	display: none;
}

section#published ul.list-unstyled li:hover .pull-right {
	display: block;
	color: #96bf48;
}

section#published ul.list-unstyled li a,
section#pages ul.list-unstyled li a {
	color: #333;
	font-weight: 500;
	font-size: 16px;
	display: block;
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 20px auto 20px;
}

.form-signin h2 {
	font-weight: 100;
	font-size: 36px;
	padding-bottom: 40px;
	margin-bottom: 30px;
	border-bottom: 3px solid #eee;
}

.form-signin .form-signin-heading,
      .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],
      .form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

form#create-entry #id_summary,
form#add_page_form #id_description {
	height: 50px;
	margin-bottom: 30px;
}

body.nano section#create {
	margin: 0 auto;
	max-width: 812px;
}

section#create p a {
	font-weight: bold;
}

body.nano div#entry {
	padding: 0 20px;
}

section#delete-confirm {
	text-align: center;
}

section#delete-confirm h2 {
	color: #333;
}

section#delete-confirm h2 {
	color: #333;
}

body.main form#create-idea input#id_title,
body.main form#create-idea textarea {
	color: #8f8f8f;
	border-width: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
}

.NanoSection > div {
	margin-bottom: 10px;
}

input#id_title,
span#id_title
 {
	display: block;
	font-size: 34px;
	line-height: 40px;
	height: 50px;
	border-width: 0;
	box-shadow: none;
	padding: 0;
	margin: 0;
	background: none;	
}

textarea#id_body,
textarea#id_summary {
	box-shadow: none;
	border-width: 0;
	padding: 10px 5px;
	background: none;
}


body.nano input#id_title{
	margin-bottom: 10px;
}



body.nano section#create ul#nav{
	margin: 25px 0;
}

body.main form#create-idea .btn {
	margin-top: 15px;
	background: #FFF;
}

body.main form#create-idea textarea {
	max-height: 125px;
	overflow: hidden;
}


body.main form#create-idea ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #8f8f8f;
}
body.main form#create-idea :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #8f8f8f;
}
body.main form#create-idea ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #8f8f8f;
}
body.main form#create-idea :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:   #8f8f8f;
}

div.date-container {
	font-size: 14px;
	line-height: 26px;
	color: #bbb;
	font-weight: bold;
	padding-left: 40px;
	margin-top: 30px;
}

#latest-entries .entry {
	padding: 10px 40px;
	margin-bottom: 10px;
	border-bottom: 1px solid #edece4;
}

.controls {
	margin: 20px 0;
}

.CodeMirror {
	height: 1399px;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

img.media-object {
	height: 64px;
	width: 64px;
}

