<div class="bs-docs-social">
    <ul class="bs-docs-social-buttons">
        <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=underlost&amp;repo=Replica-UI&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
        </li>
        <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=underlost&amp;repo=Replica-UI&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
        </li>
        <li class="follow-btn">
            <a href="https://twitter.com/underlost" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @underlost</a>
        </li>
        <li class="like-btn">
            <div class="fb-like" data-href="http://www.facebook.com/underlost" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
        </li>
    </ul>
</div>
