{% extends 'replica/dashboard/base_inner.html' %}{% load core_tags %}{% load pulser %}

{% block title %}Topics | {% endblock %}
{% block page %}topic dashboard{% endblock %}

{% block content-inner %}
<div class="row">
	<div class="col-md-12">
		<section class="panel panel-default replica-panel">
			<div class="panel-body">
				<ol class="breadcrumb" id="Replica-breadcrumb">
					<li><a href="{% url 'Replica:Topics' %}"><i class="fa fa-tags"></i> Topics</a></li>
					<li class="active">{% if adding %}New Topic{% else %}Editing <em>'{{topic}}'</em>{% endif %}</li>
				</ol>
			</div>
		</section>
	</div>
</div>

<form method="POST" enctype="multipart/form-data" action="" id="TopicForm" class="DefaultForm">{% csrf_token %}
<div class="row">
	<div class="col-md-12">

		<section id="new-topic" class="panel panel-default replica-panel">
			<div class="panel-heading">
				<h4 class="panel-title">Topic Name</h4>
			</div>
			<div class="panel-body">
			<div class="form-group">
			{{form.title}}
			</div>
			</div>
		</section>

		<section class="panel panel-default replica-panel">
			<div class="panel-heading">
				<h4 class="panel-title">Description</h4>
			</div>
			<div class="panel-body">
			<div class="form-group">
			{{form.description}}
			</div>
			</div>
		</section>

		<section class="panel panel-default replica-panel">
			<div class="panel-heading">
				<h4 class="panel-title"><span class="glyphicon glyphicon-list"></span> Topic Image</h4>
			</div>
			<div class="panel-body">
			<div class="form-group" id="TopicImageUpload">
				{{form.image}}
			</div>
			</div>
		</section>

		<section class="panel panel-default replica-panel">

			<div class="panel-heading">
				<h4 class="panel-title"><span class="glyphicon glyphicon-list"></span> Topic Settings</h4>
			</div>

			<div class="panel-body">
			<div class="form-group">
				<h4>Who can post to this topic?</h4>

				<div class="form-group">
					<div class="row">
					{% for field in form.members %}
					<div class="col-md-6">
						<div class="checkbox"><label>{{ field }}</label></div>
					</div>
					{% endfor %}
					</div>
				</div>
			</div>

			<div class="form-group">
				<h4>Who can see this topic?</h4>
				<em>Note: The topic can still be accessed by anyone who has the url.</em>

				{% for radio in form.is_public %}
				<label class="radio inline">{{ radio }}</label>
				{% endfor %}
			</div>
			</div>
		</section>

		<div class="form-group">
		{% if adding %}
		<input type="submit" class="btn btn-success" value="Create topic">
		{% else %}
		<input type="submit" class="btn btn-success" value="Edit topic">
		<a class="btn btn-danger" href="{% url 'Replica:DeleteTopic' topic.guid %}">Delete topic</a>
		{% endif %}
		</div>
	</div><!-- col-md-6 -->

</div>
</form>

{% endblock %}
