{% extends 'replica/dashboard/base_inner.html' %}{% load core_tags %}{% load pulser %}

{% block title %}Entry Type | {% endblock %}
{% block page %}topic dashboard{% endblock %}

{% block content-inner %}
<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default replica-panel">
            <div class="panel-body">
                <ol class="breadcrumb" id="Replica-breadcrumb">
                    <li><a href="{% url 'Replica:Index' %}"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="{% url 'Replica:EntryTypes' %}"><i class="fa fa-book"></i> Entry Types</a></li>
                    <li class="active">{% if adding %}New EntryType{% else %}Editing {{entrytype}}{% endif %}</li>
                </ol>
            </div>
        </section>
    </div>
</div>

<form method="POST" enctype="multipart/form-data" action="" id="TopicForm" class="DefaultForm">{% csrf_token %}
<div class="row">
    <div class="col-md-12">
        <section id="new-topic" class="panel panel-default replica-panel">
            <div class="panel-heading">
                <h4 class="panel-title">Name</h4>
            </div>
            <div class="panel-body">
            <div class="form-group">
            {{form.title}}
            </div>
            </div>
        </section>

        <section class="panel panel-default replica-panel">
            <div class="panel-heading">
                <h4 class="panel-title">Slug</h4>
            </div>
            <div class="panel-body">
            <div class="form-group">
            {{form.slug}}
            </div>
            </div>
        </section>

        <div class="form-group">
        {% if adding %}
        <input type="submit" class="btn btn-success" value="Create Entry Type">
        {% else %}
        <input type="submit" class="btn btn-success" value="Edit Entry Type">
        <a class="btn btn-danger" href="{% url 'Replica:DeleteEntryType' entrytype.guid %}"><i class="fa fa-trash"></i> Delete Entry Type</a>
        {% endif %}
        </div>
    </div><!-- col-md-7 -->
</div>
</form>

{% endblock %}
