{% extends 'replica/dashboard/base_inner.html' %}
{% load core_tags %}{% load humanize %}{% load dash %}{% load flatpages %}

{% block page %}list dashboard{% endblock %}

{% block content-inner %}
<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default replica-panel">
            <div class="panel-body">
                <h4 class="panel-title replica-panel-title"><i class="fa fa-file-text fa-fw"></i> Pages</h4>
            </div>
        </section>
        <section class="panel panel-default replica-panel">
            <ul class="list-group replica-panel-list">
            {% for object in object_list %}
                <li class="list-group-item replica-item page-item">
                    <h3><a href="{% url 'Replica:EditEntry' object.guid %}">{{object.title}}</a></h3>
                    <span class="gray">{{ object.url }}</span>
                    <div class="meta">
                        {% include "replica/dashboard/includes/_user.html" %}
                        <span class="gray"><i class="fa fa-clock-o"></i> {{ object.pub_date|date:"l, F j, Y" }}</span>
                        <span><a class="red" href="#"><i class="fa fa-trash"></i> Delete<a/></span>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </section>
    </div>
</div>
{% endblock %}
