{% extends 'base.html' %}{% load pulser %}

{% block title %}{{ topic.title }} | {% endblock %}
{% block page %}news entries topic {{ topic.slug }}{% endblock %}

{% block content %}
<section id="topic-head">

    <div class="media topic blue layout-single-column">
        {% if topic.image %}
        <a class="pull-left" href="{% url 'Pulse:EntriesByTopic' topic.slug %}">
            <img class="media-object" width="64" height="auto" src="{{topic.image.url}}" alt="{{topic.title}}">
        </a>
        {% endif %}
        <div class="media-body">
            <h4 class="media-heading"><a href="{% url 'Pulse:EntriesByTopic' topic.slug %}">{{topic.title}}</a></h4>
            <p>{{ topic.description|safe }}</p>
        </div>
    </div>
    <div class="clearfix"></div>

</section>

    {% for object in object_list %}
        {% include "replica/includes/entry.html" %}
    {% empty %}
        <p class="lead layout-single-column">No Entries to display.</p>
    {% endfor %}

    {% if is_paginated %}
        {% include "replica/includes/_pagination.html" %}
    {% endif %}
{% endblock %}
