{% extends 'replica/dashboard/base.html' %}

{% block page %}delete dashboard{% endblock %}

{% block content %}
<section class="panel panel-default RedPanel" id="delete-confirm">
    <div class="panel-body">
        <h2 class="deck">You are about to delete</h2>
        <h3>{{content_type}}: {{ object|safe }}</h3>
    </div>
</section>

<form class="wide" action="." method="post">
  {% csrf_token %}
  <p class="submit"><input type="submit" class="btn btn-danger" value="Yes, delete this."></p>
</form>
{% endblock %}
