{% extends 'replica/dashboard/base.html' %}
{% load core_tags %}

{% block page %}drafts dashboard{% endblock %}

{% block content %}
<div class="row">

	<div class="col-md-6">

		<section class="panel panel-default">
			<div class="panel-body">
				<ol class="breadcrumb panel-breadcrumb">
					<li><a href="{% url 'Replica:EditEntry' entry.guid %}">Entry</a></li>
					<li class="active">Drafts</li>
				</ol>
			</div>
		</section>

		<section class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<span class="pull-right">(Word Count: {{ entry.body_html|wordcount }})</span>
				Latest version
			</h4>
		</div>
		<div class="panel-body">
			<article class="entry">
				<header class="entry-head">
					<div class="entry-meta">

						<time datetime="{{ entry.pub_date|date:"Y-m-d" }}" class="entry_time">{{ entry.pub_date|date:"l, F jS Y" }}</time>

						{% if entry.topic.all %}In
							{% for topic in entry.topic.all %}
							{% if not forloop.first %}, {% endif %}
							<a href="">{{ topic.title|safe }}</a>
							{% endfor %}
						{% endif %}

					</div>
					<h2 class="entry-title">{{ entry.title|safe }}</h2>
				</header>
				<section class="entry-body">
					{% if entry.deck %}<p class="lead">{{ entry.deck|safe }}</p>{% endif %}
					{{ entry.body_html|safe }}
				</section>
			</article>
		</div>
		</section>
	</div><!-- span8 -->

	<div class="col-md-6">
		<section id="published" class="entries panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">History</h4>
			</div>
			<ul class="list-group">
			{% for draft in drafts %}
				<li class="list-group-item">
					<div class="pull-right">
						<a class="red" href="{% url 'Replica:DeleteDraft' entry.guid draft.guid %}">
							<span class="glyphicon glyphicon-remove-sign"></span></a>
					</div>
					<a href="{% url 'Replica:Draft' entry.guid draft.guid %}">
						{{ draft.last_edit|date:"F jS, Y" }} ({{ draft.last_edit|timesince }} ago)
					</a>
				</li>
			{% empty %}
				<li>No previous versions yet.</li>
			{% endfor %}
			</ul>
		</section>
	</div><!-- span4 -->

</div><!-- row -->

{% endblock %}
