{% extends 'dashboard/base.html' %}

{% block page %}create dashboard{% endblock %}

{% block content %}

<section id="create">
	<form method="POST" action="" id="create-entry" class="wide">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#entry" data-toggle="tab">Draft#{{ draft.id }}</a></li>
		<li><a href="#settings" data-toggle="tab">Settings</a></li>
		<li><a href="{% url 'replica-drafts' entry.id %}">Version History</a></li>
	</ul>

	<div id="CreateTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="entry">
			<fieldset class="content">				
				
				<span class="input-block-level uneditable-input" id="id_title">{{ draft.title }}</span>
				
				<h4>Summary</h4>
				<textarea class="input-block-level" cols="40" id="id_summary" name="summary" rows="10" disabled>{{ draft.summary }}</textarea>
				
				<h4>Body</h4>
				<textarea class="input-block-level" cols="40" id="id_body" name="body" rows="10" disabled>{{ draft.body }}</textarea>

				<a class="btn btn-danger pull-right" href="{% url 'replica-draft-delete' draft.id %}">Delete</a>
				
			</fieldset>	
		</div>
		
		<div class="tab-pane fade" id="settings">
			<fieldset class="settings">
				<h2>Settings</h2>
				<ul class="unstyled">
					<li><div class="input-prepend"><span class="add-on">Last Saved</span><span class="input-xlarge uneditable-input">{{ draft.last_edit }}</span></div></li>
					<li><div class="input-prepend"><span class="add-on">url</span><span class="input-xlarge uneditable-input">{{ draft.url }}</span></div></li>
					<li><div class="input-prepend"><span class="add-on">Slug</span><span class="input-xlarge uneditable-input">{{ draft.slug }}</span></div></li>
					<li><div class="input-prepend"><span class="add-on">Markup</span><span class="input-xlarge uneditable-input">{{ draft.content_format }}</span></div></li>
				</ul>
			</fieldset>
		</div>
				
	</div>
	{% csrf_token %}
	</form>
</section>
{% endblock %}