{% extends 'replica/dashboard/base.html' %}

{% block page %}create dashboard{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
	<section class="panel panel-default">
		<div class="panel-body">
			<div class="col-md-6">
				<ol class="breadcrumb panel-breadcrumb">
					<li><a href="{% url 'Replica:EditEntry' entry.guid %}">Entry</a></li>
					<li><a href="{% url 'Replica:DraftsForEntry' entry.guid %}">Drafts</a></li>
					<li class="active">Compare</li>
				</ol>
			</div>
			<div class="col-md-6">
				<ul class="nav nav-pills panel-pills">
					<li><a href="#">Restore Draft</a></li>
					<li><a href="{% url 'Replica:DeleteDraft' entry.guid draft.guid %}">Delete Draft</a></li>
				</ul>
			</div>
		</div>
	</section>
	</div>
</div><!-- /row -->

<div class="row">

	<div class="col-md-6">
		<section id="create" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<span class="pull-right">(Word Count: {{ entry.body_html|wordcount }})</span>
					Current Version
				</h4>
			</div>

			<div class="panel-body">
				<h2>{{ entry.title }}</h2>
				<div class="entry-body">
					{% if entry.deck %}<p class="lead">{{ entry.deck|safe }}</p>{% endif %}
					{{ entry.body_html|safe }}
				</div>
			</div>
		</section>
	</div><!-- span6 -->

	<div class="col-md-6">
		<section id="create" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<span class="pull-right">(Word Count: {{ draft.body_html|wordcount }})</span>
					{{ draft.last_edit|date:"F jS, Y" }}
				</h4>
			</div>

			<div class="panel-body">
				<h2>{{ draft.title }}</h2>
				<div class="entry-body">
					{% if draft.deck %}<p class="lead">{{ draft.deck|safe }}</p>{% endif %}
					{{ draft.body_html|safe }}
				</div>
			</div>
		</section>
	</div><!-- span6 -->
</div><!-- row -->
{% endblock %}

{% block javascript %}
<script src="{{STATIC_URL}}replica/js/lib/jquery.autosize.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}replica/js/lib/markdown.js"></script>
<script src="{{STATIC_URL}}replica/js/lib/bootstrap-markdown.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}replica/js/lib/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script>$(document).ready(function(){$('textarea').autosize();});
</script>
{% endblock %}
