{% extends 'replica/dashboard/base_entry.html' %}
{% load core_tags %}{% load dash %}

{% block page %}main dashboard{% endblock %}
{% block EntryContent %}
<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Created</th>
			<th>Topics</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	{% for object in object_list %}
		{% if not object.is_active %}
		<tr class="warning">
		{% elif object.pub_date >= now %}
		<tr class="info">
		{% else %}
		<tr>
		{% endif %}
			<td>{{object.id}}</td>
			<td><a href="{% url 'Replica:EditEntry' object.guid %}">{{object.title}}</a></td>
			<td>{{ object.pub_date|date:"Y-m-d" }}</td>
			<td>{% if object.topic.all %}
				{% for topic in object.topic.all %}
				{% if not forloop.first %}, {% endif %}
				<a href="{% url 'Pulse:EntriesByTopic' topic.slug %}">{{ topic.title|safe }}</a>
				{% endfor %}
			{% endif %}
			</td>
			<td><a href="{% url 'Replica:DeleteEntry' object.guid %}"><span class="glyphicon glyphicon-remove-sign"></span><a/></td>
		</tr>
	{% empty %}
	<tr>No entries to display.</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
