{% extends 'replica/dashboard/base.html' %}
{% load core_tags %}{% load humanize %}{% load dash %}

{% block page %}list dashboard{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
    <section class="panel panel-default">

        <div class="panel-heading">
            <div class="pull-right"><a class="green" href="{% url 'Replica:NewEntryType' %}"><span class="glyphicon glyphicon-plus-sign"></span></a></div>
            <h4 class="panel-title"><span class="glyphicon glyphicon-list"></span> Entry Types</h4>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Slug</th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{object.id}}</td>
                    <td><a href="{{object.get_absolute_url}}">{{object.title}}</a></td>
                    <td>{{ object.slug }}</td>
                    <td><a href="{% url 'Replica:EditEntryType' object.guid %}">Edit<a/></td>
                    <td><a href="{% url 'Replica:DeleteEntryType' object.guid %}"><span class="glyphicon glyphicon-remove-sign"></span><a/></td>
                </tr>
            {% empty %}
            <tr>No entries to display.</tr>
            {% endfor %}
            </tbody>
        </table>

    {% if is_paginated %}
        {% include "replica/dashboard/includes/_pagination.html" %}
    {% endif %}
</section>
</div>

</div>
{% endblock %}

{% block javascript %}{% endblock %}
