<!DOCTYPE html>{% load replicant %}
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js home"> <!--<![endif]--> 
 
<head> 
<title>Nano | Replica</title> 
<link rel="profile" href="http://gmpg.org/xfn/11" /> 
<link rel="canonical" href="http://underlost.net/" /> 
<link rel="shortcut icon" href="/static/replica/img/favicon.ico"/> 
<link rel="apple-touch-icon" href="/static/replica/img/iphone_underlost.png"/>
 
<!-- Meta --> 
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="author" content="Tyler Rilling" />
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<meta name="description" content="Replica Admin" /> 
 
<!-- Stylesheets -->	
<link rel="stylesheet" href="/static/replica/css/global.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/replica/css/responsive.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/replica/css/admin.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->   
</head> 
 
<body class="nano">

	<div id="wrap">
	<section id="create">
		<form method="POST" action="" id="create-entry" class="wide">
		<div class="row"><div class="col-md-12">
		<ul id="nav" class="list-inline">
			
			<li class="active"><a class="btn btn-success" href="#entry" data-toggle="tab">{% if adding %}Entry{% else %}Edit{% endif %}</a></li>
			<li><a href="#settings" class="btn btn-success" data-toggle="tab">Settings</a></li>
			
			{% if adding %}
			 <li><input type="submit" class="btn btn-success" value="Create Post"></li>
			{% else %}
			 <li><input type="submit" class="btn btn-success" value="Edit"></li>
			{% endif %}
		</ul>
		</div></div>
		
		<div class="col-md-12">
		<div id="CreateTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="entry">
				<fieldset class="content">				
					{{form.title}}
														
					{% if form.body.errors %}
					    <div class="alert alert-danger">
					    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					    <ul class="list-unstyled">
					    {% for error in form.body.errors %}
					        <li><strong>{{ error|escape }}</strong></li>
					    {% endfor %}
					    </ul></div>
					{% endif %}
					
					{{form.body}}
										
				</fieldset>	
			</div>
			
			<div class="tab-pane fade" id="settings">
				<fieldset class="settings">	
							
					<div class="row">
					<div class="col-md-12">		
					<section class="NanoSection">
						<h4>Summary</h4>
						
						{{form.summary}}
					</section>
					</div>
					</div>
						
					<div class="row">
									
						<div class="col-md-6">
							<section class="NanoSection">
							
							<div class="input-group inputURL">
							  <span class="input-group-addon">url</span>
							  {{form.url}}
							</div>
							
							<div class="input-group">
								<span class="input-group-addon">Post Type</span>
								{{form.post_type}}
							</div>
							
							<div class="input-group">
								<span class="input-group-addon">Markup</span>
								{{form.content_format}}
							</div>
							
							</section>
						</div>
						
						<div class="col-md-6">
							<section class="NanoSection">
							<h4>Post Status</h4>
							{% for radio in form.is_active %}
							<label class="radio inline">{{ radio }}</label>
							{% endfor %}
							</section>
						</div>
						
					</div>
				</fieldset>
				
				<p>You can also drag this handy {% include "dashboard/includes/_bookmarklet.html" %} up to your toolbar.</p>
			</div>
		
		</div></div>
		{% csrf_token %}
		</form>
		
	</section>
	</div>
	
	
<!-- Javascript --> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/static/replica/js/lib/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/replica/js/lib/jquery.elastic.js" type="text/javascript"></script>
<script>$('textarea#id_body').elastic(); $('textarea#id_summary').elastic();</script>	
<script src="/static/replica/js/lib/markdown.js"></script>
<script src="/static/replica/js/lib/bootstrap-markdown.js" type="text/javascript"></script>

</body> 
</html>