{% extends 'dashboard/base.html' %}
{% load replicant %}

{% block page %}main dashboard{% endblock %}

{% block content %}
<div class="row">

<div class="span5">
	<section id="entry-list">
		<h4>Recent Pages</h4>
		<ul class="unstyled">
		{% for object in published %}
		<li id="{{ object.slug }}" class="entry">
			<a class="entry-title" href="{% url 'replica-edit' object.id %}">{{ object.title }}</a>
			<small>{{ object.pub_date|date:"l, F j, Y" }}</small>
		</li>
		{% endfor %}
		</ul>
	</section>
</div>

<div class="span7">
	<section id="latest-entries">			
		<h4>Recently Published</h4>
		{% for object in object_list %}
		
			{% ifchanged object.pub_date.day %}
			<div class="date-container">{{ object.pub_date|date:"l, F jS Y" }}</div>
			{% endifchanged %}
		
			<div class="entry">
				<h3><a href="{% url 'replica-page-edit' object.id %}">{{ object.title }}</a></h3>				
				<div class="entry-content">
				{% if object.summary %}{{ object.summary_html|safe }}{% else %}{{ object.body_html|safe }}{% endif %}
				</div>
			</div>
		{% endfor %}
		
		{% if is_paginated %}
		  <div class="pagination">
		    {% if page_obj.has_next %}
		      <a href="?page={{ page_obj.next_page_number }}">&larr; Next</a>
		    {% endif %}
		    {% if page_obj.has_previous and page_obj.has_next %}|{% endif %}
		    {% if page_obj.has_previous %}
		      <a href="?page={{ page_obj.previous_page_number }}">Previous &rarr;</a>
		    {% endif %}
		  </div>
		{% endif %}
		
	</section>
</div>

</div><!-- row -->
{% endblock %}