<ul class="media-list">{% load humanize %}
    {% for object in objects %}
    <li class="media">
    {% if object.thumbnail %}
    <a class="pull-left" href="{% url 'Replica:EditMedia' object.guid %}">
        <img class="media-object" width="64" height="auto" src="{{object.thumbnail.url}}" alt="{{object.title}}">
    </a>
    {% endif %}
    <div class="media-body">
        <h4 class="media-heading"><a href="{% url 'Replica:EditMedia' object.guid %}">{{object.title}}</a></h4>
        {% if object.description %}<p>{{object.description}}</p>{% endif %}
        <small class="red">{{ object.pub_date|date:"l, F j, Y" }} ({{ object.pub_date|naturaltime }})</small>
    </div>
    </li>
    {% empty %}
        <li class="red">You haven't added any images yet.</li>
    {% endfor %}
</ul>
